name: "Docker Build & Push to AWS ECR"

on:
  workflow_call:
    inputs:
      repository:
        description: "Repository Name"
        required: true
        type: string
      serviceName:
        description: "Service Name"
        required: true
        type: string
      awsEcrRegistry:
        description: "AWS ECR Registry URL"
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_REGION:
        required: true

jobs:
  docker-build-push:
    name: "Docker Build & Push"
    runs-on: ubuntu-latest
    needs: terraform-apply
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v3

      - name: "Login to AWS ECR"
        run: |
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ inputs.awsEcrRegistry }}

      - name: "Build Docker Image"
        run: |
          docker build -t ${{ inputs.serviceName }}:${{ github.sha }} -f sources/back/Franz.Api/Dockerfile sources/back/Franz.Api

      - name: "Tag Docker Image"
        run: |
          docker tag ${{ inputs.serviceName }}:${{ github.sha }} ${{ inputs.awsEcrRegistry }}/${{ inputs.serviceName }}:${{ github.sha }}

      - name: "Push Docker Image to AWS ECR"
        run: |
          docker push ${{ inputs.awsEcrRegistry }}/${{ inputs.serviceName }}:${{ github.sha }}
