<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceCredentials>
    <MinervaNugets>
      <add key="Username" value="Feedconnectiontoken" />
      <add key="ClearTextPassword" value="CAV2tSMM0Ga1W1pv5gGweyzhVdlSt6yf6p0SjGhmgvZbO6IRMj1uJQQJ99BJACAAAAAc3GLLAAASAZDO3oKQ" />
    </MinervaNugets>
  </packageSourceCredentials>
</configuration>
