<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceCredentials>
    <MinervaNugets>
      <add key="Username" value="Feedconnectiontoken" />
      <add key="ClearTextPassword" value="1VHGfi1pak7kmuHY9t91BHHVs52AwmXlJpLnTAWboOSnthBOUX89JQQJ99BBACAAAAAc3GLLAAASAZDOWAfE" />
    </MinervaNugets>
  </packageSourceCredentials>
</configuration>
