<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
     <add key="FranzArtifact" value="https://pkgs.dev.azure.com/AjnaTellus/Franz.Common/_packaging/FranzArtifact/nuget/v3/index.json"/>
  </packageSources>
  <packageSourceCredentials>
    <MinervaNugets>
      <add key="Username" value="Feedconnectiontoken" />
      <add key="ClearTextPassword" value="vl4bxuxc5ljqtxmozgtlfi7v25vj22ihlwi4j6uc5llyjp6z37uq" />
    </MinervaNugets>
  </packageSourceCredentials>
</configuration>
